doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  include ./includes/header
  body
    nav.navbar-default
    section.content
      section.container
        block content
    include ./includes/footer
